{% extends 'base.html' %}
{% load static %}

{% block title %}Басты бет{% endblock title %}

{% block content %}
    <h1 class="text-3xl font-bold text-center">Адам ағзасы</h1>
    
    <div id="body" class="relative w-[670px] mt-20 mb-4 mx-2 sm:mx-auto">
        
        <div id="hair" class="absolute top-[40px] left-[200px]">
            <a href="{% url 'hair' %}" class="px-4 py-2 bg-blue-700 duration-300 hover:bg-blue-900 text-white rounded-lg cursor-pointer">Шаш</a>
        </div>

        <div id="brain" class="absolute top-[80px] right-[200px]">
            <a href="{% url 'brain' %}" class="px-4 py-2 bg-green-700 duration-300 hover:bg-green-900 text-white rounded-lg cursor-pointer">Ми</a>
        </div>

        <div id="retina" class="absolute top-[140px] right-[70px]">
            <a href="{% url 'retina' %}" class="px-4 py-2 bg-yellow-400 duration-300 hover:bg-yellow-600 text-white rounded-lg cursor-pointer">Торлы қабық</a>
        </div>

        <div id="eye" class="absolute top-[180px] right-[60px]">
            <a href="{% url 'eye' %}" class="px-4 py-2 bg-purple-500 duration-300 hover:bg-purple-700 text-white rounded-lg cursor-pointer">Көз сұйықтығы</a>
        </div>

        <div id="tooth" class="absolute top-[220px] right-[120px]">
            <a href="{% url 'tooth' %}" class="px-4 py-2 bg-red-500 duration-300 hover:bg-red-700 text-white rounded-lg cursor-pointer">Тістер</a>
        </div>

        <div id="heart" class="absolute top-[310px] right-[80px]">
            <a href="{% url 'heart' %}" class="px-4 py-2 bg-yellow-400 duration-300 hover:bg-yellow-600 text-white rounded-lg cursor-pointer">Жүрек</a>
        </div>
        
        <div id="blood" class="absolute top-[390px] right-[60px]">
            <a href="{% url 'blood' %}" class="px-4 py-2 bg-red-700 duration-300 hover:bg-red-900 text-white rounded-lg cursor-pointer">Қан</a>
        </div>

        <div id="kidney" class="absolute bottom-[240px] right-[40px]">
            <a href="{% url 'kidney' %}" class="px-4 py-2 bg-red-900 duration-300 hover:bg-black text-white rounded-lg cursor-pointer">Бүйрек</a>
        </div>

        <div id="bones" class="absolute bottom-[160px] right-[20px]">
            <a href="{% url 'bones' %}" class="px-4 py-2 bg-green-500 duration-300 hover:bg-green-700 text-white rounded-lg cursor-pointer">Сүйектер</a>
        </div>

        <div id="nails" class="absolute bottom-[80px] right-[-20px]">
            <a href="{% url 'nails' %}" class="px-4 py-2 bg-indigo-500 duration-300 hover:bg-indigo-700 text-white rounded-lg cursor-pointer">Тырнақтар</a>
        </div>

        <!-- img -->
        <img src="{% static 'images/body.png' %}" class="w-full" alt="">
    </div>
{% endblock content %}