{% extends 'base.html' %}

{% block title %}Басты бет{% endblock title %}

{% block content %}
    <h1 class="text-3xl font-bold">Hello world!</h1>
    <p class="max-w-sm line-clamp-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel deleniti 
        quae hic ullam voluptatum blanditiis quas maxime facilis quo in obcaecati 
        molestias nulla, optio nisi maiores odit dolores laudantium illo officiis. 
        Fugiat dolores excepturi eligendi ipsa odio facere quas officiis at aliquid 
        veniam maiores eum, exercitationem in quisquam. Ad quae saepe nisi iste voluptates 
    </p>
{% endblock content %}