{% extends 'base.html' %}
{% load static %}

{% block title %}Басты бет{% endblock title %}

{% block content %}
    <div class="">
        <div id="main" class="border-b relative flex justify-center items-center">
            <div class="text-center py-10">
                <img src="{% static 'images/bg.png' %}" class="w-96 mx-auto mb-4" alt="">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Химия интерактивті кестесі</h1>
                <p class="mb-6 text-lg font-normal text-gray-700 lg:text-xl xl:mx-48">
                    Д.И. Менделеев кестесіндегі биогенді элементтерді  электронды  форматта қолдану  
                    маңыздылығы, тұлға  қызығушылығын арттырудағы рөлі
                </p>
                <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Сабақты бастау
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>

        <!-- Педагогикалық идеяның аннотациясы -->
        <div id="inter" class="border-b py-10 grid grid-cols-2">
            <img src="{% static 'images/main-1.png' %}" class="max-w-xl rounded-lg" alt="">
            <div id="text">
                <h2 class="text-4xl font-extrabold text-gray-900">Педагогикалық идеяның аннотациясы</h2>
                <p class="my-4 text-lg text-gray-500">
                    Менделеев кестесіндегі химияны зерттеуге арналған ойындар мен биогенді элементтер  
                    атты   кестені ұсынғым келіп отыр. Химия  заттардың құрылымы туралы өте қызықты ғылым. 
                    Дегенмен де, көптеген оқушылардың  қызығушылық танытатын пән деңгейінде  өтілмей, 
                    түсініксіз элементтер мен формулалар химиялық мұраға қызығушылығын және оны 
                    зерттеуге, меңгеруге ұмтылысын оятуына кедергі болып отырады. 
                </p>
                <p class="my-4 text-lg text-gray-500">
                    Қазіргі уақытта әлемде ақпараттың қарқынды дамуы, жоғары технологиялық 
                    инновациялар мен әзірлемелер – біздің өміріміздің барлық салаларын дамытуда. 
                </p>
                <a href="#" class="inline-flex items-center text-lg text-blue-600 dark:text-blue-500 hover:underline">
                    Сабақты бастау
                    <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>

        <!-- Педагогикалық идеяның тезистері -->
        <div id="inter" class="border-b py-10 grid grid-cols-2">
            <div id="text">
                <h2 class="text-4xl font-extrabold text-gray-900">Педагогикалық идеяның тезистері</h2>
                <p class="my-4 text-lg text-gray-500">
                    Кестедегі биогенді элементтерді  электронды  форматта қолдану маңыздылығы, 
                    қызықты  тарихы, суреттермен қайталанып, біздің ғаламды құрайтын кестенің 
                    сұлулығы мен ұлылығын бұрын-соңды болмағандай сезінуге мүмкіндік береді.  
                    Қазіргі таңда  ғылымда  белгілі  болып  отырған  120   химиялық  элементтің 
                    90-ға  жуығы тірі  ағзаның  құрамынан  байқалып  отыр. Тірі  организмнің  
                    негізгі  органикалық  қосылыстары  осы  элементтердің  атомдарынан  тұрады: 
                    ақуыздар, көмірсулар, липидтер, нуклеиндік  аминқышқылдары, оларды  
                    органогендер деп  атайды.   Элементтердің  бұл  тобы  адам  ағзасы  массасының  
                    99% құрайды  және  оларды  макро, микро, ултрамикроэлементтер  деп  атайды.
                    Сондықтан да периодтық кесте құндылығы, тұлғаның танымдық қызығушылығы мен 
                    потенциалдық мүмкіншілігін көрсете білу іскерлігін қалыптастыру болып табылуында.
                </p>
                <a href="#" class="inline-flex items-center text-lg text-blue-600 dark:text-blue-500 hover:underline">
                    Сабақты бастау
                    <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
            <img src="{% static 'images/main-2.png' %}" class="max-w-xl rounded-lg" alt="">

        </div>

        <!-- Шеберлік палитрасы -->
        <div id="inter" class="border-b py-10 grid grid-cols-2">
            <img src="{% static 'images/main-3.jpeg' %}" class="max-w-xl rounded-lg" alt="">

            <div id="text">
                <h2 class="text-4xl font-extrabold text-gray-900">Шеберлік палитрасы</h2>
                <p class="my-4 text-lg text-gray-500">
                    Өз тәжірбиемде биогенді элементтер атты Мендеелев кестесін оқыту барысында 35 
                    оқушының  32 оқушысы (91,2%) түсінгенін, ал жай қарапайым кестемен 30 оқушының 
                    17 ғана ( 56,6%)  оқушы түсінгенін сауалнама алу арқылы анықтадым. Химияны оқып 
                    үйренуге арналған ең жақсы бағдарламалардың бірі. Адам ағзасындағы биогенді 
                    элементтер форматы  тек қазақ тілінде қол жетімді, бағдарламаның қаншалықты 
                    жақсы екенін түсіну үшін визуалды көріп есте сақтап қалуы, оқушылардың  химия 
                    пәніне деген қызығушылығының пайда болуы. Жеке тұлғалардың пәнге деген үлкен 
                    қызығушылығын тудырды, ал сабақ кезінде қатысушылардың 100 пайызы сабақта  
                    белсенді болды.
                </p>
                <a href="#" class="inline-flex items-center text-lg text-blue-600 dark:text-blue-500 hover:underline">
                    Сабақты бастау
                    <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>

{% endblock content %}