{% extends 'base.html' %}
{% load static %}

{% block title %}Қан{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/blood.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Қан</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">КАЛЬЦИЙ (Са, 20)</h1>
                </div>
                <div class="border-t py-2">

                    <!-- Адам ағзасындағы құрамы -->
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        дене салмағының 1,4%; қан - 90 мг/л;
                        Сүйек тіні-17%; бұлшықет тіні-0,14-0,07 %
                    </div>

                    <!-- Биологиялық рөл -->
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің барлық түрлері үшін маңызды:
                        сүйек тінінің негізгі элементі (Ca5(OH)(PO4)3, CaCO3) және (CA5F (PO4)), 
                        сүйек пен тістің беріктігін арттырады; бұл бүкіл ағзаның жасушаларын 
                        қалпына келтіруге ықпал етеді, өйткені бұл олардың ядросының, жасушалық 
                        және тіндік сұйықтықтардың ажырамас бөлігі болып табылады, тіндердің пайда 
                        болуы кезінде слеттердің "жабысуы"; эпителийдің базальды мембраналарының 
                        өткізгіштігін қамтамасыз етеді; бұлшықет жұмысы мен гемопоэз үшін қажет.
                    </div>

                    <!-- Дереккөздер -->
                    <div>
                        <strong>Дереккөздер:</strong> 
                        сүт өнімдері, әсіресе ірімшіктер, жаңғақтар, сардиндер, лосось, 
                        қызылша, бұршақ, пияз, шпинат және басқа жапырақты көкөністер, 
                        лингонберри, қарлыған, жұмыртқа, қарақұмық және сұлы жармасы, 
                        күнбағыс тұқымы, мейіз, өрік, күнжіт, Савой қырыққабаты және брокколи 
                        Cа пісіру кезінде іс жүзінде жоғалмайды.
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        800 мг, 1 г 7 жасқа дейінгі балалар, 1,4 г 18 жасқа дейін, 1,5-2 г жүкті 
                        және бала емізетін әйелдер:
                        қажеттілік терлеудің жоғарылауымен, гормоналды препараттарды ұзақ 
                        уақыт қабылдаумен, қан, ішек, бүйрек, эндокриндік бездер, аллергиялық 
                        жағдайлармен артады;
                        1,5-те жоғары қозғалтқыш белсенділігі бар CA қажеттілігі артады;
                        әйелдер" 30 үшін " күн сайын 1 г дейін қабылдауы керек
                    </div>

                    <!-- Кемшілігі -->
                    <div>
                        <strong>Кемшілігі:</strong>
                        конвульсиямен бірге жүретін ауыр жүйке аурулары
                        жоғары қозғыштық; сүйектердің жұмсаруы (рахит); остеопороз; паратироид, 
                        қалқанша без және бүйрек үсті бездерінің аурулары
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        уролития; себепсіз жүрек айнуы, шөлдеу, тәбеттің жоғалуы, жиі 
                        зәр шығару және құрысулармен бірге жүретін гиперкальциемия; 
                        тастардың пайда болуы; өкпе және сүт ісіктері.
                    </div>

                    <!-- Уыттылығы -->
                    <div>
                        <strong>Уыттылығы:</strong>
                        улы емес
                    </div>
                </div>
            </div>


            <div class="my-4">
                <a href="{% url 'human_body' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
            </div>
        </div>

    </div>
    
{% endblock content %}