{% extends 'base.html' %}
{% load static %}

{% block title %}Жұлын-ми сұйықтығы{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/fluid.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Жұлын-ми сұйықтығы</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">НАТРИЙ (Na, 11)</h1>
                </div>
                <div class="border-t py-2">

                    <!-- Адам ағзасындағы құрамы -->
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        100 г; қан-1970 мг/л;
                        Сүйек тіні-1,00%; бұлшықет тіні-0,26-0,78 %
                    </div>

                    <!-- Биологиялық рөл -->
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің көптеген түрлері үшін маңызды:
                        NaCl осмотикалық қан қысымын ұстап тұруға қатысады, қан қысымын реттейді;
                        жүйке және бұлшықет тіндерінің қызметін реттейді (испульдің берілуі); мембраналардың белсенді тасымалдануына қатысады (к / Na– сорғы); натрий тұзының құрамы (NaH2PO4, NaHPO4, NaHCO3) қанның буферлік жүйелерінің құрамына кіреді және концентрацияның тұрақтылығын сақтауға көмектеседі сутегі иондары (рН);  жандандырады пищеварительные ферменттер; ол ағзадағы суды сақтайды; амин қышқылдары мен қантты тасымалдауға қатысады;  арасында иондармен К+ және Na+ антагонизм бар: бірінші әрекет екінші әрекетті теңестіреді.
                    </div>

                    <!-- Дереккөздер -->
                    <div>
                        <strong>Дереккөздер:</strong> 
                        ас тұзы, су, ет консервілері, соя соусы, балдыркөк, сәбіз, қара бидай наны
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        1,0-1,5 г; қатты терлеу кезінде 2 есе артады.
                    </div>

                    <!-- Кемшілігі -->
                    <div>
                        <strong>Кемшілігі:</strong>
                        гипонатриемия: тәбеттің және дәмнің жоғалуы, созылмалы диарея, құрысулар, құрысулар, жүйке бұзылыстары, ісіну, тері бөртпелері, жыртылу, бұлшықет әлсіздігі, есте сақтау қабілетінің бұзылуы, жиі инфекциялар.
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        гипернатриемия: гипертонияның дамуы, интенсификация склероз процестері; бүйрек аурулары (ісіну және тастар), шөлдеу.
                    </div>

                    <!-- Уыттылығы -->
                    <div>
                        <strong>Уыттылығы:</strong>
                        улы емес.
                    </div>
                </div>
            </div>


            <div class="my-4 flex flex-wrap justify-between">
                <a href="{% url 'skin' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
                <a href="{% url 'stomach' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ары қарай</a>
            </div>
        </div>

    </div>
    
{% endblock content %}