{% extends 'base.html' %}
{% load static %}

{% block title %}Қалқанша без{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/gland.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Қалқанша без</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">ЙОД (I, 53)</h1>
                </div>
                <div class="border-t py-2">

                    <!-- Адам ағзасындағы құрамы -->
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        20-50 мг; қан - 0,057 мг/л;
                        сүйек ұлпасы-0,27 см 10-4%; бұлшықет ұлпасы – (0,05-0,5) 10-4 %
                    </div>

                    <!-- Биологиялық рөл -->
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің көптеген формалары үшін маңызды:
                        қалқанша безінің гормондарының құрамына кіреді-тироксин, дийодтирозин, триодотиронин және т. б., олар орталық жүйке жүйесінің қызметіне, дененің өсуіне және жалпы дамуына әсер етеді; негізгі алмасу деңгейін реттейді.
                    </div>

                    <!-- Дереккөздер -->
                    <div>
                        <strong>Дереккөздер:</strong> 
                        йодталған тұз, Теңіз орамжапырағы, теңіз өнімдері, треска бауыры, балық майы, саңырауқұлақтар, көкөністер, сарымсақ, су, ауа
                        сүт ақуызы бар органикалық қосылыс түрінде ("Флоренский йоды»)
                        20-дан 60% - ға дейін өнімдерді ұзақ сақтау немесе тағамды термиялық өңдеу кезінде жоғалады
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        0,15-0,2 мг, жүктілік кезінде күрт артады және (200мкг дейін), нәрестелер үшін 50 мкг, 1-ден балалар үшін 90 мкг 7 жасқа дейін, 7 жастан 12 жасқа дейінгі балалар үшін 120 мкг.
                    </div>

                    <!-- Кемшілігі -->
                    <div>
                        <strong>Кемшілігі:</strong>
                        қалқанша безінің ауруларын тудырады-гипотироз, эндемиялық зоб, микседема, кретинизм; пиллинг және құрғақ тері; жүкті әйелдердің ерте токсикозына, түсік түсіру және мерзімінен бұрын босану қаупіне себеп болуы мүмкін; ақыл-ойдың бұзылуы
                        егер популяцияда 15-20% зоб болса, популяция интеллектінің жалпы деңгейі шамамен 10-15% төмендейді%
                        біздің планетамызда 1,5 миллиард адам, оның ішінде ресейліктердің 70% - ы" жасырын йод тапшылығын " бастан кешуде
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        йодталған гипертиреоз, йод қосылыстары синтезінің әлсіреуі
                    </div>

                    <!-- Уыттылығы -->
                    <div>
                        <strong>Уыттылығы:</strong>
                        I2 түріндегі уытты, 2 мг йодидтің уытты дозасы, өлім дозасы
                        йодид 35-350 г
                    </div>
                </div>
            </div>


            <div class="my-4">
                <a href="{% url 'human_body' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
            </div>
        </div>

    </div>
    
{% endblock content %}