{% extends 'base.html' %}
{% load static %}

{% block title %}Шаш{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/hair.jpeg' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Шаш</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">ВАНАДИЙ (V, 23)</h1>
                </div>
                <div class="border-t py-2">
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        0,11 мг; қан-шамамен 0,0002 мг / л
                       сүйек тіні – 0,35 см 10-6%; бұлшықет тіні – 2 см 10-6%
                    </div>
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің кейбір түрлері үшін маңызды, соның ішінде адам; май алмасуын реттеуге және 
                        триглицеридтер синтезіне қатысады; сүйек минералдану процестеріне қатысады; стимулятор 
                        сериясы тотығу катализаторы болып табылады; қалпына келтіру 
                        реакцияларын; система глюкоза мен глутамин алмасуында маңызды рөл атқарады.
                    </div>
                   
                    <div>
                        <strong>Дереккөздер:</strong> 
                        ауыз су, көкөністер, жарма, ұлулар, газ шығарындылары, әсіресе сұйық отынды жаққаннан кейін
                    </div>
                    <div>
                        <strong>Тәуліктік қажеттілік:</strong>
                        0,04 мг
                    </div>
                    <div>
                        <strong>Артық:</strong>
                        конъюнктивит, ринит және фарингит, тұрақты жөтел; аллергиялық реакциялар
                    </div>
                    <div>
                        <strong>Уыттылығы:</strong>
                         уытты доза-0,25 мг, өлімге әкелетін доза 2-4 мг
                    </div>
                </div>
            </div>


            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">МЫШЬЯК (As, 33)</h1>
                </div>
                <div class="border-t py-2">
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        18 мг; қан – 0,0017-0,09 мг/л;
                        Сүйек тіні– (0,8-1,6) 10-4 %; бұлшық ет ұлпасы-(0,009-0,65) 10-4 % 
                        шаштағы ең көп мөлшер
                    </div>
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің кейбір формалары үшін маңызды: төмен дозада гемопоэз 
                        стимуляторы; тотығу процестерін тежейді; гормондардың өндірісін 
                        азайтады; ақуыздардың, глобулиндердің синтезін арттырады; жыныстық 
                        қатынас пен қалыпты потенциалды көрсету үшін қажет.
                    </div>
                   
                    <div>
                        <strong>Дереккөздер:</strong> 
                        су, сыра, репа, картоп, сарымсақ, теңіз өнімдері, темекі, дәрі-дәрмектер.
                    </div>
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        10-15 мкг 
                    </div>
                    <div>
                        <strong>Кемшілігі:</strong>
                        тері меланозы, сұр шаш; өсу депрессиясы ? және сүйектердің деминерализациясы.
                    </div>
                    <div>
                        <strong>Артықшылығы:</strong>
                        үйек кемігі мен лейкоциттер функциясының төмендеуі; тәбеттің жоғалуы және 
                        салмақтың күрт төмендеуі; коньюктивиттер; шеткергі неврит; терінің гиперкератозы 
                        және меланозы ағзалардан баяу шығарылады, бірнеше жылдар бойы шашта сақталады.
                    </div>
                    <div>
                        <strong>Уыттылығы:</strong>
                        уытты дозасы - 5-50 мг; өлімге әкелетін дозасы - 50-340 мг, улану кезінде орталық жүйке жүйесі әсер етеді.
                    </div>
                </div>
            </div>

            <div class="my-4">
                <a href="{% url 'human_body' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
            </div>
        </div>
    </div>
    
{% endblock content %}