{% extends 'base.html' %}
{% load static %}

{% block title %}Жүрек{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/heart.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Жүрек</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">КАЛИЙ (К, 19)</h1>
                </div>
                <div class="border-t py-2">

                    <!-- Адам ағзасындағы құрамы -->
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        140 г; қан-1620 мг/л;
                        Сүйек тіні - 0,21%; бұлшықет тіні – 1,6 %
                    </div>

                    <!-- Биологиялық рөл -->
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің барлық түрлері үшін маңызды:
                        калий иондары барлық жасушаларда және физиологиялық сұйықтықтарда болады 
                        тұздар және күрделі органикалық қосылыстар түріндегі организм; ол 
                        қанның қышқыл-негіз тепе-теңдігін, ағзаның су-тұз балансын реттейді, 
                        көмірсулар алмасуына және ақуыз синтезіне қатысады;
                        бұлшықет жасушаларының қалыпты жұмыс істеуі үшін қажет, бұлшықет импульсінің 
                        берілуіне қатысады, бұлшықет тонусын сақтайды; жүйке жүйесінің қалыпты жұмыс
                         істеуі үшін қажет, жүйке импульсінің берілуіне қатысады, есте сақтау 
                         қабілетін жақсартады; жүрек жиырылуының қалыпты ырғағын сақтауға қатысады, 
                         қан қысымын реттейді; асқазан сөлінің қышқылдық дәрежесін реттеуге қатысады; 
                         бірқатар ферменттердің жұмысын белсендіреді;
                    </div>

                    <!-- Дереккөздер -->
                    <div>
                        <strong>Дереккөздер:</strong> 
                        жаңғақтар, Теңіз орамжапырағы, бал, жапырақты көкөністер, 
                        алма, кептірілген жемістер, бұршақ, зәйтүн, құрма, пісірілген картоп, 
                        банан, апельсин және қызанақ шырындары
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        2-2,7 г, интеллектуалдық тұрғыдан 5,0 г дейін артады жүктемеге
                    </div>

                    <!-- Кемшілігі -->
                    <div>
                        <strong>Кемшілігі:</strong>
                        жүрек-тамыр қызметінің бұзылуы (аритмия), жалпы әлсіздік және жүйке, 
                        жоғары шаршау және ұйқысыздық; бұлшықет әлсіздік, құрысулар; шөлдеу 
                        және қантқа төзбеушілік; құрғақ тері мен қара дақтар; іш қату; холестерин 
                        деңгейін жоғарылату.
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        жүрек-тамыр қызметінің бұзылуы; бұлшықет әлсіздігі;
                        "калийдің тежелуі", көлеңкелі ойлау, сөйлеу қиындықтары
                    </div>

                    <!-- Уыттылығы -->
                    <div>
                        <strong>Уыттылығы:</strong>
                        уытты доза - 6 г; өлімге әкелетін доза - 14 г
                    </div>
                </div>
            </div>


            <div class="my-4">
                <a href="{% url 'human_body' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
            </div>
        </div>

    </div>
    
{% endblock content %}