{% extends 'base.html' %}
{% load static %}

{% block title %}Бауыр{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/liver.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Бауыр</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">МАГНИЙ (Mg, 12)</h1>
                </div>
                <div class="border-t py-2">

                    <!-- Адам ағзасындағы құрамы -->
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        19-25 г; қан - 37,8 мг/л;
                        сүйек ұлпасы – (7-18) 10-2 %; бұлшықет ұлпасы-9 10-2 %
                    </div>

                    <!-- Биологиялық рөл -->
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің кейбір формалары үшін маңызды: препарат қан мен тіндерде, негізінен жасуша ішілік заттағы; көмірсуларға қатысатын бірқатар ферменттердің құрамдас бөлігі және фосфор алмасуы, тұрақты дене температурасын ұстап тұру, ақуыз түзуде; ол сау минералды сүйек құрылымын қолдайды; ол нервтерден бұлшықеттерге импульс жүргізуге қатысады; ДНҚ Полимеразасын белсендіреді; ол иммундық жасушаларға қажет жерде "жабысуға" көмектесетін интегриндерді ("жабысқақ" молекулалар) өндіруге қатысу арқылы инфекцияларға төзімділікті арттырады.
                    </div>

                    <!-- Дереккөздер -->
                    <div>
                        <strong>Дереккөздер:</strong> 
                        қарақұмық балы, цитрус жемістері, жарма мен жарма, құрма, інжір және басқа да кептірілген жемістер, көкөністер, әсіресе жапырақ,     бұршақ, ешкі сүті, жұмыртқа сарысы, тұқымы;
                        пісіру кезінде дерлік өзгермейді; 
                        көкөністерде Mg-нің көп бөлігі тікелей тері астына "жатады"; 
                        сүт өнімдерінен оңай сіңеді;
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        250-500 мг, стресс, атеросклероз кезінде жоғарылайды, жүректің ишемиялық ауруы, өт тас және гипертония
                    </div>

                    <!-- Кемшілігі -->
                    <div>
                        <strong>Кемшілігі:</strong>
                        ішек аурулары; тітіркену және эмоционалды жағдайдың бұзылуы; бұралу бұлшық еттер, қолдың дірілдеуі, бұлшықеттің қысылуы, дірілдеу және бұлшықет әлсіздігі;
                        жүрек аритмиясы, спазмофилия; ағзаның қарсыласуының төмендеуі;
                        сүйек тіні құрылымының бұзылуы; ұрық гипертрофиясы.
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        сау денеге, бауыр ауруларына әсер етпейді
                        ұйқышылдықты, тежелуді, импульстің баяулауын, гипотонияны тудыруы мүмкін; паралич және асфиксия; булардың ингаляциясы "құю безгегін" тудырады»
                    </div>

                    <!-- Уыттылығы -->
                    <div>
                        <strong>Уыттылығы:</strong>
                        улы емес
                    </div>
                </div>
            </div>


            <div class="my-4">
                <a href="{% url 'human_body' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
            </div>
        </div>

    </div>
    
{% endblock content %}