{% extends 'base.html' %}
{% load static %}

{% block title %}Ұйқы безі{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/pancreas.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Ұйқы безі</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">МЫРЫШ (ZN, 30)</h1>
                </div>
                <div class="border-t py-2">

                    <!-- Адам ағзасындағы құрамы -->
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        2-3 г; қан - 7,0 мг/л;
                        Сүйек тіні– (0,75-1,7) 10-2 %; бұлшықет тіні-2,4 сек 10-2 %
                         көздің тор қабығындағы, ұрықтағы, бауырдағы және бұлшықеттердегі ең көп мөлшер.
                    </div>

                    <!-- Биологиялық рөл -->
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің барлық түрлері үшін маңызды:
                        жасуша процестерінің катализаторы; амин қышқылдарынан ақуыздарды қалыптастыру үшін не қажет; бұл қандағы қант деңгейін реттейтін инсулиннің бөлігі;  гипофиз гормондарының әсерін күшейтеді; репродуктивті функцияға әсер етеді: простата функциясын жақсартады, қандағы тестостерон деңгейін реттейді; бауыр токсиндерін жоюға көмектеседі; қатерлі ісіктің дамуын баяулатуы мүмкін, бірақ канцероген болуы мүмкін; мутаген; антидепрессантты дәрі.
                    </div>

                    <!-- Дереккөздер -->
                    <div>
                        <strong>Дереккөздер:</strong> 
                        сиыр еті, құс еті, бауыр, түрлі жарма, крабдар, устрицалар, асшаяндар, жұмыртқаның сарысы, ірімшік, бұршақ, күнжіт, асқабақ тұқымдары, көкөністер және бұршақ, жаңғақтар, кофе дәндері
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        ерлер үшін 15-20 мг, әйелдер үшін 12-18 мг, әйелдер үшін 20 мг жүкті әйелдер, емізетін аналар үшін 25 мг; емізетін балалар үшін 4-6 мг.
                    </div>

                    <!-- Кемшілігі -->
                    <div>
                        <strong>Кемшілігі:</strong>
                        гипогонадизм, өсудің бұзылуы, жараларды емдеудің бұзылуы, дәм мен иіс сезу өткірлігінің төмендеуі, дәм бұрмалануы, тәбеттің өзгеруі, иммунитеттің бұзылуы, суыққа сезімталдық, менструальдық циклдің бұзылуы, терідегі бөртпелер, түтіккен шаш, созылмалы Zn жетіспеушілігі-ергежейліліктің себептерінің бірі жасөспірімдерде, қарттарда, Zn жетіспеушілігінің пайда болу қаупі жоғары асқазан-ішек жолдары зақымданған науқастар.
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        тотығу процестерінің тежелуі; мүмкін анемия; ағзаның қарсыласуының төмендеуі, Т-лимфоциттердің қызметін басу және гранулоциттер; cu қайталама жетіспеушілігі, холестериннің жоғарылауы қанға; мерзімінен бұрын босануды және өлі ұрықтың туылуын тудыруы мүмкін; АИТВ жұқтырған адамдарда СПИД-тің даму қаупін арттырады; бұзылулар ас қорыту.
                    </div>

                    <!-- Уыттылығы -->
                    <div>
                        <strong>Уыттылығы:</strong>
                        Zn қосылыстары улы, әсіресе хлорид және сульфат; уытты доза – 150-600 мг; өлімге әкелетін доза 6 г; радиоактивті Zn-65 азық-түлік тізбегіне шоғырлану (биологиялық жинақтау).
                    </div>
                </div>
            </div>


            <div class="my-4">
                <a href="{% url 'human_body' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
            </div>
        </div>

    </div>
    
{% endblock content %}