{% extends 'base.html' %}
{% load static %}

{% block title %}Торлы қабық{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/retina.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Торлы қабық</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">БАРИЙ (Ba, 56)</h1>
                </div>
                <div class="border-t py-2">
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        22 мг; қан - 0,068 мг/л;
                        Сүйек тіні – 3 с. 10-4%; 
                        бұлшықет тіні-0,09 с. 10-4%
                        көздің пигменттік қабығында жоғары концентрация байқалды
                    </div>
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        Са және Р сүйектерінен ығыстырады;
                        әлсіз мутаген;
                        стимулятор;
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        0,6 - 1,7 мг
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        бұлшықет гиперстимуляциясы, қатты перистальтика, гипертония, 
                        құрысулар, конвульсиялар және жүрек қызметінің бұзылуы; деңгей 
                        ауруы (сүйектердің сынғыштығы мен деформациясының жоғарылауы) және остеопороз
                    </div>

                    <div>
                        <strong>Уыттылығы:</strong>
                        уытты, жүрек уы ретінде әрекет етеді; уытты доза - 200 г; 
                        өлім дозасы-3,7 г; әсіресе улы родентицидтер.
                    </div>
                </div>
            </div>


            <div class="my-4">
                <a href="{% url 'human_body' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
            </div>
        </div>

    </div>
    
{% endblock content %}