{% extends 'base.html' %}
{% load static %}

{% block title %}Тістер{% endblock title %}

{% block content %}
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 my-5 mx-2 md:mx-0">
        <div class="overflow-hidden rounded-lg w-full md:w-[480px]">
            <img src="{% static 'images/tooth.png' %}" class="rounded-lg w-full" alt="">
        </div>
        
        <div class="p-4 rounded-lg border shadow bg-white">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-800 font-bold mb-2">Тістер</h1>
            
            <div class="mt-4">
                <div class="py-2"> 
                    <h1 class="text-xl sm:text-2xl  text-gray-800 font-bold">ФТОР (F, 9)</h1>
                </div>
                <div class="border-t py-2">

                    <!-- Адам ағзасындағы құрамы -->
                    <div>
                        <strong>Адам ағзасындағы құрамы:</strong>
                        2,6 г; қан - 0,5 мг/л; 
                        сүйек ұлпасы - 0,2 – 1,2%; бұлшықет ұлпасы - 0,05 10-4 %
                    </div>

                    <!-- Биологиялық рөл -->
                    <div>
                        <strong>Биологиялық рөл:</strong> 
                        өмірдің барлық түрлері үшін маңызды:
                        сүйектер мен тістердің (Ca5F(PO4)) және тіндердің түзілу процесіне 
                        қатысады эктодермальды шығу тегі (шаш, тырнақ, эпидермис); 
                        ферментативті процестерге әсер етеді: көмірсулар, майлар алмасуын 
                        азайтады, фосфор-кальций алмасуын қалыпқа келтіреді; тіндік тыныс 
                        алуды тежейді; ағзаның иммунобиологиялық жағдайына әсер етеді; 
                        организмдегі биологиялық белсенді заттардың (кининдер, катехоламиндер) 
                        деңгейіне әсер етеді.
                    </div>

                    <!-- Дереккөздер -->
                    <div>
                        <strong>Дереккөздер:</strong> 
                        ауыз су, теңіз өнімдері, теңіз балығы, жаңғақтар, бауыр, сұлы 
                        жармасы, қой еті, сиыр еті, тіс пастасы.
                    </div>
                   
                    <!-- Күнделікті қажеттілік -->
                    <div>
                        <strong>Күнделікті қажеттілік:</strong>
                        3 мг дейін (тамақпен 1/3, сумен 2/3)
                    </div>

                    <!-- Кемшілігі -->
                    <div>
                        <strong>Кемшілігі:</strong>
                        тіс кариесі, сүйек өсуінің біркелкі еместігі; иммунитеттің төмендеуі
                    </div>
                    
                    <!-- Артықшылығы -->
                    <div>
                        <strong>Артықшылығы:</strong>
                        тіс эмальының немесе флюороздың" дақтары " (ақауы мен сынғыштығы), 
                        остеопороз (сүйектердің жұмсаруы), тіндердің кальцификациясы; 
                        сезімталдықтың жоғалуы; тотығу процестерінің бұзылуы және жалпы-қан 
                        гемоглобині деңгейінің төмендеуі.
                    </div>

                    <!-- Уыттылығы -->
                    <div>
                        <strong>Уыттылығы:</strong>
                        кейбір қосылыстар, мысалы, NF және F2 газы, өте
                        уытты; уытты доза - 20 мг (F, өлім дозасы - 2г)
                    </div>
                </div>
            </div>


            <div class="my-4 flex flex-wrap justify-between">
                <a href="{% url 'eye' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Кері қайту</a>
                <a href="{% url 'heart' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ары қарай</a>
            </div>
        </div>

    </div>
    
{% endblock content %}